page-mainpage {
    .mainTitle{
        background: black !important;
        color: white !important;
    }
    .setbackground{
        background: black !important;
        color: white !important;
        font-family: TitilliumWeb;
    }
}
